In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt


from matplotlib import cm
from matplotlib.colors import ListedColormap, LinearSegmentedColormap

N = 256
vals = np.ones((N, 4))
vals[:, 0] = np.linspace(255/256, 1, N)    ## red  255,192, 203
vals[:, 1] = np.linspace(192/256, 1, N)
vals[:, 2] = np.linspace(203/256, 1, N)  ## blue 75, 0, 130
Pinks = ListedColormap(vals)


top = cm.get_cmap(Pinks, 256)
bottom = cm.get_cmap('Purples', 256)

newcolors = np.vstack((top(np.linspace(0, 1, 256)),
                       bottom(np.linspace(0, 1, 256))))

newcmp = ListedColormap(newcolors, name='PinkPueple')

In [2]:
guests_characteristics = pd.read_csv('../data/Predykcyjne_guest_characteristics_.csv')
guests_cusine =  pd.read_csv('../data/Predykcyjne_guest_cuisine_.csv')
guests_payment =  pd.read_csv('../data/Predykcyjne_guest_payment_.csv')

guests_characteristics.drop( 'Unnamed: 0', axis = 1, inplace = True)
guests_cusine.drop( 'Unnamed: 0', axis = 1, inplace = True)
guests_payment.drop( 'Unnamed: 0', axis = 1, inplace = True)

restaurant_cusine =pd.read_csv('../data/Predykcyjne_restaurant_cuisine.csv')
restaurant_open =pd.read_csv('../data/Predykcyjne_restaurant_open.csv')
restaurant_parking =pd.read_csv('../data/Predykcyjne_restaurant_parking.csv')
restaurant_payment =pd.read_csv('../data/Predykcyjne_restaurant_payment.csv')

stars = pd.read_csv("../data/Predykcyjne_Stars_.csv")

## Guest Table

In [3]:
df_inner = pd.merge(guests_characteristics, guests_cusine, on='guestID', how='inner')
guests = pd.merge(df_inner, guests_payment, on='guestID', how='inner')
guests

,guestID,smoking,drinker,dress_preference,company,transport,marital_status,birth_year,interest,religion,activity,color,weight,budget,height,cuisine,payment
0,U1001,false,abstemious,informal,family,on foot,single,1989,variety,none,student,black,69,medium,1.77,American,cash
1,U1002,false,abstemious,informal,family,public,single,1990,technology,Catholic,student,red,40,low,1.87,Mexican,cash
2,U1003,false,social drinker,formal,family,public,single,1989,none,Catholic,student,blue,60,low,1.69,Mexican,cash
3,U1004,false,abstemious,informal,family,public,single,1940,variety,none,professional,green,44,medium,1.53,Bakery,cash
4,U1004,false,abstemious,informal,family,public,single,1940,variety,none,professional,green,44,medium,1.53,Bakery,bank_debit_cards
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,U1127,false,abstemious,no preference,solitary,public,single,1992,variety,Catholic,student,black,65,low,1.76,Mexican,cash
295,U1128,false,casual drinker,no preference,friends,public,single,1986,variety,Catholic,student,red,66,low,1.72,Cafeteria,cash
296,U1128,false,casual drinker,no preference,friends,public,single,1986,variety,Catholic,student,red,66,low,1.72,Hot_Dogs,cash
297,U1128,false,casual drinker,no preference,friends,public,single,1986,variety,Catholic,student,red,66,low,1.72,Pizzeria,cash
298,U1128,false,casual drinker,no preference,friends,public,single,1986,variety,Catholic,student,red,66,low,1.72,Mexican,cash

In [4]:
my_info = [guests['smoking'].value_counts(),
            guests['drinker'].value_counts(),
            guests['dress_preference'].value_counts(),
            guests['company'].value_counts(),
            guests['transport'].value_counts(),
            guests['marital_status'].value_counts(),
            guests['interest'].value_counts(),
            guests['religion'].value_counts(),
            guests['activity'].value_counts(),
            guests['color'].value_counts(),
            guests['budget'].value_counts(),
            guests['cuisine'].value_counts(),
            guests['payment'].value_counts()]

#for info in my_info:
#    print(info, "\n\n")

In [5]:
guests.drop(guests.index[guests['dress_preference'] == '?'], inplace = True)
guests.drop(guests.index[guests['company'] == '?'], inplace = True)
guests.drop(guests.index[guests['transport'] == '?'], inplace = True)
guests.drop(guests.index[guests['marital_status'] == '?'], inplace = True)
guests.drop(guests.index[guests['activity'] == '?'], inplace = True)
guests.drop(guests.index[guests['budget'] == '?'], inplace = True)
guests['age'] = 2021-guests['birth_year']
guests

,guestID,smoking,drinker,dress_preference,company,transport,marital_status,birth_year,interest,religion,activity,color,weight,budget,height,cuisine,payment,age
0,U1001,false,abstemious,informal,family,on foot,single,1989,variety,none,student,black,69,medium,1.77,American,cash,32
1,U1002,false,abstemious,informal,family,public,single,1990,technology,Catholic,student,red,40,low,1.87,Mexican,cash,31
2,U1003,false,social drinker,formal,family,public,single,1989,none,Catholic,student,blue,60,low,1.69,Mexican,cash,32
3,U1004,false,abstemious,informal,family,public,single,1940,variety,none,professional,green,44,medium,1.53,Bakery,cash,81
4,U1004,false,abstemious,informal,family,public,single,1940,variety,none,professional,green,44,medium,1.53,Bakery,bank_debit_cards,81
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,U1127,false,abstemious,no preference,solitary,public,single,1992,variety,Catholic,student,black,65,low,1.76,Mexican,cash,29
295,U1128,false,casual drinker,no preference,friends,public,single,1986,variety,Catholic,student,red,66,low,1.72,Cafeteria,cash,35
296,U1128,false,casual drinker,no preference,friends,public,single,1986,variety,Catholic,student,red,66,low,1.72,Hot_Dogs,cash,35
297,U1128,false,casual drinker,no preference,friends,public,single,1986,variety,Catholic,student,red,66,low,1.72,Pizzeria,cash,35
298,U1128,false,casual drinker,no preference,friends,public,single,1986,variety,Catholic,student,red,66,low,1.72,Mexican,cash,35

## Merge stars with guests

In [6]:
stars_guests = pd.merge(guests, stars, on='guestID', how='inner')
stars_guests.drop( 'Unnamed: 0', axis = 1, inplace = True)
stars_guests['bmi'] = stars_guests['weight']/(stars_guests['height'])**2
stars_guests

,guestID,smoking,drinker,dress_preference,company,transport,marital_status,birth_year,interest,religion,...,color,weight,budget,height,cuisine,payment,age,restaurantID,stars,bmi
0,U1001,false,abstemious,informal,family,on foot,single,1989,variety,none,...,black,69,medium,1.77,American,cash,32,132830,1,22.024323
1,U1001,false,abstemious,informal,family,on foot,single,1989,variety,none,...,black,69,medium,1.77,American,cash,32,132825,2,22.024323
2,U1001,false,abstemious,informal,family,on foot,single,1989,variety,none,...,black,69,medium,1.77,American,cash,32,135085,0,22.024323
3,U1001,false,abstemious,informal,family,on foot,single,1989,variety,none,...,black,69,medium,1.77,American,cash,32,135040,1,22.024323
4,U1001,false,abstemious,informal,family,on foot,single,1989,variety,none,...,black,69,medium,1.77,American,cash,32,135039,1,22.024323
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2461,U1128,false,casual drinker,no preference,friends,public,single,1986,variety,Catholic,...,red,66,low,1.72,Mexican,cash,35,135064,0,22.309356
2462,U1128,false,casual drinker,no preference,friends,public,single,1986,variety,Catholic,...,red,66,low,1.72,Mexican,cash,35,132921,0,22.309356
2463,U1128,false,casual drinker,no preference,friends,public,single,1986,variety,Catholic,...,red,66,low,1.72,Mexican,cash,35,135060,0,22.309356
2464,U1128,false,casual drinker,no preference,friends,public,single,1986,variety,Catholic,...,red,66,low,1.72,Mexican,cash,35,132954,0,22.309356
2465,U1128,false,casual drinker,no preference,friends,public,single,1986,variety,Catholic,...,red,66,low,1.72,Mexican,cash,35,132951,0,22.309356

## Activity:  unemployment -> 0 stars, students->  1 or 2 stars, professional -> 2 stars

In [7]:
df_unemployment = stars_guests[stars_guests['activity']=='unemployed' ]
df_unemployment[['stars', 'guestID']].value_counts()

stars  guestID
0      U1073      11
dtype: int64

In [8]:
df_student = stars_guests[stars_guests['activity']=='student' ]
df_student[['stars']].value_counts(sort =False)

stars
0        279
1        863
2        920
dtype: int64

In [9]:
255/(41+97+255)

0.648854961832061

In [10]:
df_pro = stars_guests[stars_guests['activity']=='professional' ]
df_pro[['stars']].value_counts(sort =False)

stars
0         41
1         97
2        255
dtype: int64

## Religion:

In [11]:
df = stars_guests[stars_guests['religion']=='none' ]
df[['stars']].value_counts(sort =False)

stars
0         36
1         85
2        188
dtype: int64

In [12]:
df = stars_guests[stars_guests['religion']=='Catholic' ]
df[['stars']].value_counts(sort =False)

stars
0        267
1        832
2        952
dtype: int64

In [13]:
df = stars_guests[stars_guests['religion']=='Jewish' ]
df[['stars']].value_counts(sort =False)

stars
0         2
1        10
2         4
dtype: int64

In [14]:
df = stars_guests[stars_guests['religion']=='Mormon' ]
df[['stars']].value_counts(sort =False)

stars
0         8
1        16
2        16
dtype: int64

In [15]:
df = stars_guests[stars_guests['religion']=='Christian' ]
df[['stars']].value_counts(sort =False)

stars
0        18
1        17
2        15
dtype: int64

## company

In [16]:
df = stars_guests[stars_guests['company']=='family' ]
df[['stars']].value_counts(sort =False)

stars
0        146
1        280
2        499
dtype: int64

In [17]:
df = stars_guests[stars_guests['company']=='solitary' ]
df[['stars']].value_counts(sort =False)

stars
0         16
1        442
2        255
dtype: int64

In [18]:
df = stars_guests[stars_guests['company']=='friends' ]
df[['stars']].value_counts(sort =False)

stars
0        169
1        238
2        421
dtype: int64

## marital_status

In [19]:
df = stars_guests[stars_guests['marital_status']=='single' ]
df[['stars']].value_counts(sort =False)

stars
0         297
1         926
2        1093
dtype: int64

In [20]:
df = stars_guests[stars_guests['marital_status']=='married' ]
df[['stars']].value_counts(sort =False)

stars
0        23
1        24
2        72
dtype: int64

In [21]:
df = stars_guests[stars_guests['marital_status']=='widow' ]
df[['stars']].value_counts(sort =False)

stars
0        11
1        10
2        10
dtype: int64

## Age

In [22]:
df = stars_guests[stars_guests['age']<30 ] ## 1991 +
df[['stars']].value_counts(sort=False)

stars
0         5
1         9
2        26
dtype: int64

In [23]:
df = stars_guests[stars_guests['age']>30]  ## 1971 -- 1991 
df = df[df['age']<50 ]
df[['stars']].value_counts(sort=False)

stars
0        239
1        754
2        612
dtype: int64

In [24]:
df = stars_guests[stars_guests['age']>50 ]  #1961
df[['stars']].value_counts(sort=False)

stars
0         19
1         35
2        204
dtype: int64

## BMI:

In [26]:
df = stars_guests[stars_guests['bmi']<18.5 ]
df[['stars']].value_counts(sort=False)

stars
0         59
1        115
2        175
dtype: int64

In [27]:
df = stars_guests[stars_guests['bmi']>18.5 ]
df = df[df['bmi']<25 ]
df[['stars']].value_counts(sort=False)

stars
0        202
1        711
2        681
dtype: int64

In [28]:
df = stars_guests[stars_guests['bmi']>25]
df = df[df['bmi']<=30]
df[['stars']].value_counts(sort=False)

stars
0         28
1        104
2        293
dtype: int64

In [29]:
df = stars_guests[stars_guests['bmi']>30]
df[['stars']].value_counts(sort=False)

stars
0        42
1        30
2        26
dtype: int64

## Payment by cash

In [30]:
df = stars_guests[stars_guests['payment']=='cash']
df[['stars']].value_counts(sort=False)

stars
0        279
1        639
2        825
dtype: int64

In [31]:
df = stars_guests[stars_guests['payment']!='cash']
df[['stars']].value_counts(sort=False)

stars
0         52
1        321
2        350
dtype: int64